<!DOCTYPE html>
<html lang="en" dir="ltr" style="background-color:rgb(220,79,0);">
  <head>
    <title>Axe Drax</title>
    <%- head; %>
  </head>
  <body>
    <header>
      <%- header; %>
    </header>
    <nav>
      <ul class = 'menu'>
      <% for (url in navconfig){ %>
        <%- "<li>" %>
        <% if (typeof navconfig[url] === 'object'){ %>
          <%- `<a href="#">${navconfig[url].title}</a>` %>
          <%- "<ul class='submenu'>" %>
          <% for (subUrl in navconfig[url].values){ %>
            <%- `<li><a href="${subUrl}">${navconfig[url].values[subUrl]}</a></li>` %>
          <% }; %>
          <%- "</ul>" %>
        <% }else{ %>
          <%- `<a href="${url}">${navconfig[url]}</a>` %>
        <% }; %>
        <%- "</li>" %>
      <% }; %>
      </ul>
    </nav>
    <main>
      <%- main; %>
    </main>
    <footer>
      <%- footer; %>
    </footer>
  </body>
</html>
