<!DOCTYPE html>
<html lang="en" dir="ltr" style="background-color:rgb(220,79,0);">
  <head>
    <title>Axe Drax</title>
    <%- head; %>
  </head>
  <body>
    <nav>
      <ul>
      <% for (url in navconfig){ %>
        <%- "<li>" %>
        <% if (typeof navconfig === 'object'){ %>
          <%- "<ul>" %>
          <%- `<a href="#">${navconfig[url]}</a>` %>
          <% for (subUrl in navconfig[url]){ %>
            <%- `<li><a href="${subUrl}">${navconfig[url][subUrl]}</a><li>` %>
          <% }; %>
          <%- "</ul>" %>
        <%- `<a href="${url}">${navconfig[url]}</a>` %>
        <%- "</li>" %>
      <% }; %>
      <ul>
    </nav>
    <header>
      <%- header; %>
    </header>
    <main>
      <%- main; %>
    </main>
    <footer>
      <%- footer; %>
    </footer>
  </body>
</html>
